body {
    min-height: 100vh;
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    color: white;
}

.backgroundStyle {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    background-color: rgba(164, 179, 219, 0.295);
}

.navbar a {
    color: white;
    font-size: 25px;
}

.searchBar {
    padding-top: 5rem;
    background-position: center;
}

#date {
    color: white;
}


/*weather section */

.weather {
    border: 1px solid black;
    margin-top: 10rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

#location {
    font-size: 3.5rem;
    font-weight: lighter;
}

#icon-description {
    font-size: 5rem;
    padding-top: 2rem;
    color: white;
}

#date {
    font-size: 16px;
}

#temperature {
    color: white;
    font-size: 6rem;
}

#icon-temperature {
    font-size: 4.5rem;
}

.humidity,
.wind,
.wind-degree {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 2rem;
    color: white;
}

.humidity-data,
.wind-speed-data,
.wind-degree-data {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
    font-size: 2rem;
}

.submitButton {
    padding-top: 2rem;
}